POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=assetdb
POSTGRES_USER=assetuser
POSTGRES_PASSWORD=changeme
KEYCLOAK_SERVER_URL=https://keycloak.example.com
KEYCLOAK_REALM=master
KEYCLOAK_AUDIENCE=asset-backend
CORS_ORIGINS=http://localhost:3000
